.logo {
  float: left;
  height: 200px;
}

.jumbotron {
  background-color: rgb(255, 174, 0);
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  height: 250px;
}

h1 {
  font-weight: bold;
  font-family: cursive;
  font-size: 1.5cm;
}

.crust {
  height: 250px;
  width: 400px;
  margin-top: 25px;
  margin-left: 25px;
}

.cheese {
  height: 250px;
  width: 400px;
  margin-top: 25px;
  margin-left: 25px;
}

.meat {
  height: 250px;
  width: 600px;
  margin-top: 25px;
  margin-left: 25px;
}

.veggie {
  height: 250px;
  width: 400px;
  margin-top: 25px;
  margin-left: 25px;
}